*{
    font-family: 'Quicksand', sans-serif;
}
header#headerText{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.artiekelen{
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 1px;
    width: auto;
    height: auto;
    background-color: white;


}

#foto{
    width: 100%;
    padding-top: 12px;
}

#pijltje{
    text-align: right;
    opacity: 0.5;
}

a#textLink{
    text-align: right;
    color: black;
    text-decoration: none;

}
#textLink:hover{
    text-decoration: underline;
}
#pijltjetext{
    text-align: right;
}

a#Rtextlink{
    color: black;
    text-decoration: none;
}
#Rtextlink:hover{
    text-decoration: underline;
}



body{
    background-color: lightgray;
}

.challengeLink{
    text-align: center;
    color: black;
    text-decoration: none;

}
.challengeLink:hover{
    text-decoration: underline;
}

.mobile-container{
    width: 100%;
}
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

.linksFooter{
    color: red;
    line-height: 2;
    text-decoration: none;
}
.linksFooter:hover{
    text-decoration: underline;
}
#Zoekengij{
    color: darkgray;
    text-align: center;
    opacity: 0.5;
}
@media all and (min-width: 500px) {
    .topnav #myLinks, .topnav a {
        width: 100%;
        display: inline-block;
        display: none;

    }

    .topnav a.icon {
        display: none;
    }

    .topnav {
        background-color: black;
    }

    header#headerText {
        display: inline-block;
        text-align: left;
        width: 100%;
        padding-left: 13px;
        padding-left: 13px;
    }

    #Hlinks {
        color: white;
        display: inline-block;
        background-color: black;
        width: 100%;
    }

    .linksH {
        color: white;
        text-decoration: none;
        font-size: 17px;
        margin-right: 7px;
    }

    .linksH:hover {
        text-decoration: underline;
    }

    #volgendB {
        display: none;
    }
    #VorigB{
        display: none;
    }

    .artiekelen {
        grid-area: artiekelen;
    }

    #footers {
        grid-area: footers;
    }

    #artiekel {
        display: grid;
        grid-gap: 13px;
        grid: "artiekelen artiekelen" 1fr/
                1fr
    }

    #container {
        display: grid;
        grid-gap: 13px;
        grid: "artiekelen footers" 1fr/
                7fr 3fr
    }
}
@media all and (min-width: 1200px){
    body{
        width: 1200px;
        margin: auto;
    }

}