*{
    font-family: 'Quicksand', sans-serif;
}
#Hlinks{
    display: none;
}

.challengeLink{
text-align: center;
    color: black;
    text-decoration: none;

}
.challengeLink:hover{
    text-decoration: underline;
}
.artiekelLink{
    text-align: center;
    color: black;
    text-decoration: none;
    text-align: left;
}
.artiekelLink:hover{
    text-decoration: underline;
}

header#headerText{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
body{
    background-color: lightgray;

}


.links{
    color: black;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}



.artiekelen{
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 1px;
    width: auto;
    height: auto;
    background-color: white;


}
#naamPlaatser{
    opacity: 0.5;
    font-size: small;
}
.button:hover {background-color: #990000}

.button {
    padding: 7px 13px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;

}
#p1{
    border-bottom: 2px solid grey;
    width: auto;
    opacity: 0.4;
}

#lenteberichten{
   position: relative;
    display: inline-block;
    opacity: 0.5;
    font-size: smaller;
    padding-left: 5px;
}

.linksFooter{
    color: red;
    line-height: 2;
    text-decoration: none;
}
.linksFooter:hover{
    text-decoration: underline;
}



.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav #myLinks{
    display: none;
    background-color: black;
}


.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: inline-block;
    float: left;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: darkgray;
    color: black;
}

.active {
    background-color: black;
    color: white;
}




@media all and (min-width:500px){
    #Artiekel1{
    grid-area: Artiekel1;
}
    #Artiekel2{
        grid-area:Artiekel2;
    }
    #Artiekel3{
        grid-area:Artiekel3;
    }
    #Artiekel4{
        grid-area:Artiekel4;
    }
    #Laatsteberichten{
        grid-area:Laatsteberichten;
    }
    #Dieren{
        grid-area:Dieren;
    }
    #Artiekelen{
        display: grid;
       grid-gap: 10px;
        grid:
                 "Artiekel1 Artiekel2"1fr
                 "Artiekel3 Artiekel4"1fr/
               1fr 1fr


    }


}
@media all and (min-width: 900px){
    /*.topnav {*/
        /*display: none;*/
    /*}*/
    #Artiekel1{
        grid-area: Artiekel1;
    }
    #Artiekel2{
        grid-area:Artiekel2 ;
    }
    #Artiekel3{
        grid-area:Artiekel3 ;
    }
    #Artiekel4{
        grid-area:Artiekel4 ;
    }
    #Laatsteberichten{
        grid-area:Laatsteberichten;
    }
    #Dieren{
        grid-area:Dieren;
    }
    #Artiekelen{
        display: grid;
        grid-gap: 12px;
        grid:
        "Artiekel1 Artiekel2"1fr
        "Artiekel3 Artiekel4"1fr/
        1fr 1fr
    }
    #container{
        display: grid;
        grid-gap: 15px;
        grid:
              "Artiekelen footer"1fr/
                7fr 3fr

    }


    .topnav #myLinks, .topnav a{
        width: 100%;
        display: inline-block;
        display: none;

    }
    .topnav a.icon{
        display: none;
    }
    .topnav{
        background-color: black;}
    header#headerText{
        display: inline-block;
        text-align: left;
        width: 100%;
        padding-left: 13px;
    }
    #Hlinks{
        color: white;
        display: inline-block;
        background-color: black;
        width: 100%;
    }
    .linksH{
        color: white;
        text-decoration: none;
        font-size: 17px;
        margin-right: 7px;
    }
    .linksH:hover{
        text-decoration: underline;
    }
}
@media all and (min-width: 1200px){
    body{
        width: 1200px;
        margin: auto;
    }

}